{% load static %}

<footer class="footer-1 bg-color-1">
      <div class="main-footer">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-md-12">
              <img src="{% static 'img/logoF.png' %}" class="wow rotateInDownLeft fast footer-img img-fluid pull-xs-right" alt="...">
              <div class="text-footer">
                <p>
                  هنالك العديد من الأنواع المتوفرة لنصوص لوريم إيبسوم، ولكن الغالبية تم تعديلها بشكل ما عبر إدخال بعض النوادر أو الكلمات العشوائية إلى النص.
                </p>

              </div>
              <div class="social-icons clearfix">
                <a href="#" class="facebook tipped" data-title="facebook"  data-tipper-options='{"direction":"top","follow":"true"}'><i class="fab fa-facebook-f"></i></a>
                <a href="#" class="twitter tipped" data-title="twitter"  data-tipper-options='{"direction":"top","follow":"true"}'><i class="fab fa-twitter"></i></a>
                <a href="#" class="phone tipped" data-title="phone"  data-tipper-options='{"direction":"top","follow":"true"}'><i class="fas fa-phone"></i></a>
              </div>
            </div>
            <div class="col-lg-3 col-md-6">
              <div class="stech-footer">
                <h5 class="title-footer">صفحات الموقع</h5>
                <div class="tiny-border-footer"></div>
                <div class="content-footer">
                  <ul>
                    <li><a href="#">عن المعايير</a></li>
                    <li><a href="#">قصة نجاحنا</a></li>
                    <li><a href="#">الشروط والأحكام</a></li>
                    <li><a href="#">تواصل معنا</a></li>
                  </ul>
                </div>

              </div>
            </div>
            <div class="col-lg-3 col-md-6">
              <div class="stech-footer1">
                <div class="title-footer-contact">
                    <h5 class="title-footer">اتصل بنا</h5>
                    <div class="tiny-border-footer"></div>
                </div>
                <div class="content-footer">
                  <p>العنوان: المملكة العربية السعودية، جدة طريق الأمير ماجد بن عبدالعزيز</p>
                  <p>هاتف: 7913125 50 966+</p>
                  <p>بريد الكتروني: Info@stech.ws</p>

                </div>

              </div>
            </div>
            <div class="col-lg-3 col-md-12 map">
              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7421.938431143508!2d39.205452!3d21.548059!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x749101d78026177d!2z2KfZhNmF2LnYp9mK2YrYsSDYp9mE2KrZgtmG2YrYqSBUZWNobmljYWwgU3RhbmRhcmRz!5e0!3m2!1sen!2ssa!4v1553007694395" width="100%" height="200px" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>

          </div>
        </div>
      </div>
      <div class="sub-footer">
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-center">
              جميع الحقوق محفوظة © للمعايير التقنية
              <p style="color: #29b6f6;">Design By Hassan :)</p>

            </div>

          </div>

        </div>
      </div>
    </footer>
  <script type="text/javascript" src="{% static 'js/owl.carousel.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
  <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'js/jquery.countup.js' %}"></script>
  <script src="{% static 'js/wow.min.js' %}"></script>
  <script src="{% static 'js/project.js' %}"></script>
  <script src="{% static 'js/custom-index1.js' %}"></script>
</body>
</html>